.gameCards {
	margin-top: 125px;
	margin-left: -30px;
	margin-right: -30px;
}

.Card {
	width: 100px;
	margin-top: -100px;
}


.pile0:hover {
	transition: transform 0.3s ease-in-out;
	transform: scale(1.1) translateX(5%);
}

.pile1:hover {
	transition: transform 0.3s ease-in-out;
	transform: scale(1.1) translateX(0%);
}

.pile2:hover {
	transition: transform 0.3s ease-in-out;
	transform: scale(1.1) translateX(-5%);
}

.cardContent {
	width: 100%;
	padding-left: 80px;

}

.CardStart {
	width: 100px;
	margin-top: 50px;
	margin-left: -80px;
}

.CardStart:hover {
	transition: transform 0.3s ease-in-out;
	transform: scale(1.1) translateX(-5%);
}